<fieldset class="login">
  <legend class="login">Edit <%= resource_name.to_s.humanize %></legend>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      </br>
      <p><%= f.input :email, :input_html => { :size => 35 } %></p>

      <p><%= f.input :password %></p>

      <p><%= f.input :password_confirmation %></p>

      <p><%= f.input :forename, :input_html => { :size => 40 } %></p>

      <p><%= f.input :surname, :input_html => { :size => 40 } %></p>

      <p><%= f.association :user_type, :collection => UserType.all, :prompt => "Choose a user type" %></p>

      <p><%= f.label :manager_id, :name=>"Manager" %><
      <%= f.collection_select :manager_id, User.where("user_type_id = 2"), :id, :email, :prompt => "Choose a manager" %></p>

      <p><%= f.submit "Save" %></p>

  <% end %>


  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></p>

  <%= link_to "Back", :back %>

</fieldset>

