<% javascript_include_tag "vacations" %>

<script src="/javascripts/vacations.js" type="text/javascript"></script>

<%= render 'form' %>

<!--TODO add years filter for the days remaining and table - default to this year-->

<div id="days_remaining">
  <div id="year_filter">
    <%= simple_form_for(@vacation, :remote=>true) do |f| %>
        <%= f.label :Year %>
        <%= f.collection_select :holiday_year_id, HolidayYear.all, :id, :description %>
    <%end %>
  </div>
  <div id="show_days">Days Remaining:<%= @days_remaining %></div>
</div>

<br/>

<div id="tableHolder" style="float:left; width:600px;">
  <%= render 'table' %>
</div>




