<% javascript_include_tag "vacations" %>

<script src="/javascripts/vacations.js" type="text/javascript"></script>

<%= render 'form' %>

<div id="days_remaining">
  <div id="year_filter">
    <%= simple_form_for('holiday_year', :remote=>true) do |f| %>
        <%= f.label :Year %>
        <%= f.collection_select :id, HolidayYear.all, :id, :description, :selected => HolidayYear.current_year.id  %>
    <%end %>
  </div>
  <div id="show_days">Days Remaining:<%= @days_remaining %></div>
</div>

<br/>

<div id="tableHolder" style="float:left; width:600px;">
  <%= render 'table' %>
</div>




