<p id="notice"><%= notice %></p>

<p>
  <b>Date from:</b>
  <%= @vacation.date_from %>
</p>

<p>
  <b>Date to:</b>
  <%= @vacation.date_to %>
</p>

<p>
  <b>Description:</b>
  <%= @vacation.description %>
</p>

<p>
  <b>Days left:</b>
  <%= @vacation.days_left %>
</p>


