<!--<table id="admininsterHols">-->
<table id="holidaysTable" class="standard_table">
  <% @users.each do |user| %>
      <% if user.vacations.size > 0 %>
          <thead>
            <th style="float:left;" colspan="6"><%= user.full_name %></th>
          </thead>
          <tr class="subHead">
            <th>Date From</th>
            <th>Date To</th>
            <th>Description</th>
            <th>Days Used</th>
            <th>Status</th>
            <th>Notes</th>
            <th></th>
          </tr>
      <% end %>
      <% user.vacations.each do |holiday| %>
          <tr class='<%=holiday.id%>'>
            <td><%= holiday.date_from.strftime("%d/%m/%Y") %></td>
            <td><%= holiday.date_to.strftime("%d/%m/%Y") %></td>
            <td><%= holiday.description %></td>
            <td><%= holiday.working_days_used.to_s %></td>
             <%= form_for (holiday, :remote => true) do |hol| -%>
                <td><%= hol.collection_select :holiday_status_id, @statuses, :id, :status %></td>
                <td><%= hol.text_field :notes %></td>
                <td><%= hol.submit 'Update Holiday' %></td>
            <% end -%>
          </tr>
      <% end %>
  <% end %>
</table>

