<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= h(yield(:title)) %></title>
  <%= csrf_meta_tag %>

  <!--TODO change folder to 1.8.9-->
  <%= javascript_include_tag 'jquery-1.5.2.min.js', 'rails', 'application', 'jquery.formatdate', 'jquery-ui-1.8.9-start/js/jquery-ui-1.8.10.custom.min' %>
  <!--<link rel="stylesheet" type="text/css" media="screen" href="/javascripts/jquery-ui-1.8.9-start/css/start/jquery-ui-1.8.10.custom.css"/>-->
  <link rel="stylesheet" type="text/css" media="screen" href="/javascripts/jquery-ui-1.8.9-lefrog/css/le-frog/jquery-ui-1.8.9.custom.css"/>
  <!--<link rel="stylesheet" type="text/css" media="screen" href="/javascripts/jquery.jqGrid-3.8.2/css/ui.jqgrid.css"/>-->
  <link rel='stylesheet' type='text/css' href='/javascripts/fullcalendar/fullcalendar.css'/>
  <script type='text/javascript' src='/javascripts/fullcalendar/fullcalendar.min.js'></script>
  <!--<script src="/javascripts/jquery.jqGrid-3.8.2/js/i18n/grid.locale-en.js" type="text/javascript"></script>-->
  <!--<script src="/javascripts/jquery.jqGrid-3.8.2/js/jquery.jqGrid.min.js" type="text/javascript"></script>-->


  <%= stylesheet_link_tag :all %>

  <style>
      html, body {
          margin: 0;
          padding: 0;
      }
  </style>

  <%= yield(:head) %>
</head>
<body>

<div id="container">

  <div id="flash_notice" style="display: none;"></div>
  <%= content_tag :h1, yield(:title) if show_title? %>

  <%#- flash.each do |name, msg| -%>
  <%#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%#- end -%>

  <% if user_signed_in? -%>
      <div id="top_navigation">
        <%= render_navigation %>
      </div>
      <div id="user_login_box" class="login">
        <%= current_user.email %> |
        <%= link_to 'My info', edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path %>
      </div>
  <% end -%>


  <!--<%# unless user_signed_in? -%>-->
      <!--<div id="main_login">-->
        <!--<%#= simple_form_for("user", :url => user_session_path) do |f| %>-->
            <!--<%#= f.input :email, :input_html=>{:size=>30} %>-->
            <!--<%#= f.input :password, :input_html=>{:size=>20} %>-->
            <!--&lt;!&ndash;<%# if devise_mapping.rememberable? -%>&ndash;&gt;-->
            <!--&lt;!&ndash;<p><%#= f.check_box :remember_me %> <%#= f.label :remember_me %></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<%# end -%>&ndash;&gt;-->
            <!--<p><%#= f.submit "Sign in" %></p>-->
        <!--<%# end -%>-->
      <!--</div>-->
  <!--<%# end -%>-->


  <%#= render :partial => "devise/shared/links" %>


  <!--<%# if admin_signed_in? -%>
        <div id="admin_login_box" style="float:left">
          <%#= current_admin.email %> |
          <%#= link_to 'Admin section', admins_path %> |
          <%#= link_to 'Sign out', destroy_admin_session_path %>
        </div>
      <%# end -%>
      <div style="clear:both"></div>-->

  <%- if show_title? -%>
      <h1><%= h yield(:title) %></h1>
  <%- end -%>

  <%= yield %>
</div>

</body>

</html>


